<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= config.title %></title>
  </head>
  <body>
    <h1><%= config.title %></h1>
    <main>
      <form action="/api/submit" method="post" enctype="application/x-www-form-urlencoded">
        <div class="messages">
          <% if (query.error == 1) { %>
          <div class="error"><%= config.error %></div>
          <% } else if (query.error != undefined) { %>
          <div class="error"><%= query.error %></div>
          <% } %>

          <div class="description"><%= config.description %></div>
        </div>

        <% config.schema.forEach((field) => { %>
        <div class="form-control">
          <label for="<%= field.name %>"><%= field.label %></label>
          <input type="<%= field.type %>" name="<%= field.name %>" id="<%= field.name %>" <%= field.required ? 'required' : '' %> />
        </div>
        <% }) %>

        <div class="form-control">
          <input type="submit" value="<%= config.submit %>" />
          <i class="mini-info"><%= config.submitionInfo %></i>
        </div>
      </form>
    </main>
  </body>
</html>
